<template>
    <div class="title">Favorite</div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
// import { useStore } from "vuex";
// import { Product } from "../store/index"

// const store = useStore();
// const getDataList = () => {
//     console.log('get items',itemList)
//     // store.commit("fetchProducts")
// }

onMounted(() => {
    console.log('favorite')
})
</script>

<style scoped lang="scss"></style>