<template>
  <div class="home-body d-flex flex-column align-center">
    <Banner />
    <TabList />
    <Search />
    <BookList />
    
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import TabList from "../components/Home/TabList.vue"
import Banner from "../components/Home/Banner.vue"
import Search from "../components/Home/Search.vue"
import BookList from "../components/Home/BookList.vue"
import { useStore } from "vuex";

const store = useStore();
const getDataList = async () => {
  console.log(store)
  const qurry = {
    q: "book+subject",
    printType: "all",
    maxResults: "12"
  }
    await store.dispatch("product/GET_BOOK_LIST",qurry)
};


onMounted(async () => {
  await getDataList()
})
</script>

<style scoped lang="scss">
.home-body {
  width: 100%;
  padding: 0 24px;
}
</style>
