<template>
  <v-app-bar :elevation="0" density="comfortable">
        <div class="d-flex justify-center px-4" style="width: 100%;">
          <div class="d-flex align-center justify-space-between" style="width: 100%; max-width: 1600px;">
            <router-link
              to="/"
              style="text-decoration: none"
              class="d-flex align-center"
            >
            <img width="42" height="42" src="/favicon.ico" />
              <v-app-bar-title class="title ml-2">Book</v-app-bar-title>
            </router-link>
            <div>
              <router-link
                to="/favorite"
                style="text-decoration: none"
              >
                <v-badge content="5" color="error" offset-y="8" offset-x="8">
                  <v-btn icon="mdi-heart" color="#5a5ecb"></v-btn>
                </v-badge>
              </router-link>
              <v-badge content="10" color="error" offset-y="8" offset-x="8">
                <v-btn icon="mdi-cart" color="#5a5ecb"></v-btn>
              </v-badge>
            </div>
          </div>
        </div>
      </v-app-bar>
  <v-main class="d-flex justify-center pb-4">
    <router-view />
  </v-main>
  <v-footer class="d-flex justify-center" color="#8792eb">2023 — Bookshelf by Yong, LLC</v-footer>
</template>

<script setup lang="ts">
// import { ref } from "vue";
// import { useStore } from "vuex";

// const store = useStore();

</script>

<style scoped lang="scss"></style>
