<template>
  <div class="banner-body mt-4">
    <v-row no-gutters>
      <v-col cols="12" sm="12" md="7" class="banner-section2-right">
        <v-carousel :show-arrows="false" hide-delimiters cycle :interval="4000" height="100%" style="border-radius: 4px;"
          v-model="banner1" @update:model-value="(value) => (value)">
          <v-carousel-item v-for="(item, i) in bannerList" :key="i" :src="item.src" cover>
          </v-carousel-item>
          <div class="banner-inner d-flex justify-center">
            <div :class="banner1 === index ? 'banner-dot-active' : 'banner-dot'" v-for="(dot, index) in bannerList.length"
              :key="index" @click="selectedBanner('1',index)">
            </div>
          </div>
        </v-carousel>
      </v-col>
      <v-col cols="12" sm="12" md="5" class="banner-section2-left">
        <v-carousel :show-arrows="false" hide-delimiters cycle :interval="3000" height="100%" style="border-radius: 4px;"
          v-model="banner2" @update:model-value="(value) => (value)">
          <v-carousel-item v-for="(item, i) in bannerList2" :key="i" :src="item.src" cover>
          </v-carousel-item>
          <div class="banner-inner d-flex justify-center">
            <div :class="banner2 === index ? 'banner-dot-active' : 'banner-dot'" v-for="(dot, index) in bannerList2.length"
              :key="index" @click="selectedBanner('2',index)">
            </div>
          </div>
        </v-carousel>
      </v-col>
    </v-row>
    <v-divider class="mt-3" color="info"></v-divider>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const banner1 = ref<number>(0)
const banner2 = ref<number>(0)

const bannerList = [
  {
    src: 'src/assets/banner1.jpg',
  },
  {
    src: 'src/assets/banner2.jpg',
  },
  {
    src: 'src/assets/banner3.jpg',
  },
  {
    src: 'src/assets/banner4.jpg',
  },
]

const bannerList2 = [
  {
    src: 'src/assets/banner4.jpg',
  },
  {
    src: 'src/assets/banner3.jpg',
  },
  {
    src: 'src/assets/banner1.jpg',
  },
]

const selectedBanner = (banner: string, index: number) => {
  if(banner === "1") {
    banner1.value = index
  } else {
    banner2.value = index
  }
}
</script>

<style scoped lang="scss">
.banner-body {
  width: 100%;
  max-width: 1600px;

  .banner-section2-right {
    padding-right: 8px;
    height: 400px;
  }

  .banner-section2-left {
    padding-left: 8px;
    height: 400px;
  }
}

.banner-inner {
  position: absolute;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5984768907563025) 0%, rgba(255, 255, 255, 0) 100%);

  .banner-dot {
    cursor: pointer;
    background-color: rgb(199, 217, 255);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 4px 2px;
  }

  .banner-dot-active {
    cursor: pointer;
    background-color: rgb(96, 147, 255);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 4px 2px;
  }
}


@media screen and (min-width: 300px) and (max-width: 960px) {
  .banner-body {
    .banner-section2-right {
      margin-bottom: 16px;
      padding-right: 0px;
      height: 360px;
    }

    .banner-section2-left {
      padding-left: 0px;
      height: 360px;
    }
  }
}
</style>