<template>
  <div class="book-list-body">
    <div class="d-flex justify-end">
      <div style="width: 150px;">
        <v-select density="compact" flat single-line variant="solo" hide-details >
        <template v-slot:label>
          <div class="d-flex">
            <v-icon class="mr-1">mdi-sort</v-icon>
              <div style="font-size: 1em; cursor: pointer; padding-top: 2px;">
                Sort by
              </div>
          </div>
        </template>
        <template v-slot:no-data>
          <div class="passanger-body px-2">
            <div class="passanger-select d-flex px-2 py-1">
              asdasdasd
            </div>
            <div class="passanger-select d-flex px-2 py-1">
              xxxxx
            </div>
            <div class="passanger-select d-flex px-2 py-1">
              11111
            </div>
          </div>
        </template>
      </v-select>
      </div>
    </div>
    <Transition name="fade">
    <v-row v-if="loading" class="book-card-row " no-gutters>
      <v-col cols="6" xs="6" sm="4" md="3" lg="2" class="book-card px-1 py-2" v-for="items in count" :key="items">
        <v-card class="mx-auto" style="height: 100%;" variant="flat">
          <div class="book-card-img">
            <v-img
              src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
              height="200px"
              cover
            ></v-img>
            <div style="cursor:pointer; position: absolute; top: 3%; right: 3%;">
              <v-icon size="30" color="white">mdi-heart</v-icon>
            </div>
            <div style="cursor:pointer; position: absolute; top: 3%; left: 0;">
              <div class="add-tag mb-1">Ads</div>
              <div class="discount-percent">-25%</div>
            </div>
          </div>
          <div class="pa-2">
            <div class="book-title">title book title book title book title book title book title book title book</div>
            <div style="font-size: 0.8em; color: rgb(165, 165, 165)">author</div>
            <div class="text-right">
              <span class="discount-price mr-2">1,800</span>
              <span class="sale-price">1,200</span>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-else class="book-card-row " no-gutters>
      <v-col cols="6" xs="6" sm="4" md="3" lg="2" class="book-card px-1 py-2" v-for="items in 12" :key="items">
        <v-skeleton-loader
          style="width: 100%; height: 100%;"
          class="mx-auto border"
          type="image, article"
        ></v-skeleton-loader>
      </v-col>
    </v-row>
    </Transition>
  </div>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from "vue";

const loading = ref<boolean>(false)
const count = ref<number>(0)
const getList = () => {
  setTimeout(() => {
    count.value = 12
    loading.value = true
  }, 1000);
}
onBeforeMount(() => {
  getList()
})

</script>

<style scoped lang="scss">
.book-list-body {
  margin-top: 16px;
  width: 100%;
  ;
  max-width: 1600px;
  display: flex;
  flex-direction: column;

  .book-card-row {
    width: 100%;
    display: flex;

    .book-card {
      cursor: pointer;
      width: 100%;
      height: 325px;
      .book-card-img {
        position: relative;
      }
    }
  }
}

.book-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 48px;
}

.add-tag {
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px;
  background-color: rgb(255, 221, 28); 
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.discount-percent {
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px;
  background-color: yellowgreen; 
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.discount-price {
  font-size: 0.9em;
  color: rgb(236, 73, 73);
  text-decoration-line: line-through;
}

.sale-price {
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(47, 194, 28);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}</style>