<template>
  <v-row class="search-body py-2" style="width: 100%;">
    <v-col cols="12" xs="12" sm="6" md="4" lg="4" class="pa-0 mb-2">
      <v-text-field
        class="custom-search"
        flat
        density="compact"
        variant="solo"
        label="Search..."
        prepend-inner-icon="mdi-magnify"
        single-line
        hide-details
      ></v-text-field>
    </v-col>
    <v-col cols="12" xs="12" sm="3" md="3" lg="2" class="pa-0 mr-2 mb-2" style="width: 15%; min-width: 100px;">
      <v-select class="custom-input" density="compact" flat single-line variant="solo" hide-details>
        <template v-slot:label>
          <div class="d-flex">
            <v-icon>mdi-filter</v-icon>
            <div style="font-size: 0.85em; cursor: pointer; padding-top: 2px;">
              filltername
            </div>
          </div>
        </template>
        <template v-slot:no-data>
          <div class="passanger-body">
            <div class="passanger-select d-flex px-2 py-1">
              <v-checkbox color="#9176e3" label="fillter 1111111111111" density="compact" single-line hide-details></v-checkbox>
            </div>
            <div class="passanger-select d-flex px-2 py-1">
              <v-checkbox color="#9176e3" label="fillter 22222" density="compact" single-line hide-details></v-checkbox>
            </div>
            <div class="passanger-select d-flex px-2 py-1">
              <v-checkbox color="#9176e3" label="fillter 3333" density="compact" single-line hide-details></v-checkbox>
            </div>
            <div class="passanger-select d-flex px-2 py-1">
              <v-checkbox color="#9176e3" label="fillter 444444" density="compact" single-line hide-details></v-checkbox>
            </div>
          </div>
        </template>
      </v-select>
    </v-col>
    <v-col class="pa-0 mb-2">
      <v-btn
        class="px-4"
        variant="tonal"
        color="#786af1"
        :size="$vuetify.display.width < 600 ? 'default' : 'large'"
      >
        SEARCH
    </v-btn>
    </v-col>
    <v-divider class="mt-1" color="info"></v-divider>
  </v-row>
</template>

<script setup lang="ts">
import { ref } from 'vue'

const filterList = ref<any>(
  [
    {
      title: "",
      fillter: 1
    },
  ]
)
</script>

<style scoped lang="scss">
.search-body {
  width: 100%;;
  max-width: 1600px;
  display: flex;
  align-items: center;
}
</style>

<style>
.custom-search .v-field.v-field--prepended {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.custom-input .v-field.v-field--appended {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
</style>