<template>
  <div class="tab-list-body py-3" style="font-size: 24px; font-weight: bold;">
    <div class="">
      <v-menu
        v-for="(items,index) in dropDownList"
        :key="index"
        open-on-hover
      >
        <template v-slot:activator="{ props }">
          <v-btn
            class="mr-2 mb-2"
            variant="tonal"
            color="#786af1"
            v-bind="props"
          >
            {{ items.tabTitle }}
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-for="(subItem,index2) in items.tabSubTitle" :key="index2">
            <div>{{ subItem.title }} + {{ subItem.qurry }}</div>
            <div>
              <div>{{ subItem.title }}</div>
              <div>{{ subItem.qurry }}</div>
            </div>
          </v-list-item>
        </v-list>
      </v-menu>
      </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { DropdownList } from "@/types/dropDownList"

const dropDownList =  ref<Array<DropdownList>>([
  {
    tabTitle: "PROMOTION",
    tabSubTitle: [
      {
        title: "1111",
        qurry: "11",
      }
    ]
  },
  {
    tabTitle: "NEW RELEASES",
    tabSubTitle: [
      {
        title: "22222",
        qurry: "22"
      }
    ]
  },
  {
    tabTitle: "MAGAZINE",
    tabSubTitle: [
      {
        title: "33333",
        qurry: "33"
      }
    ]
  },
  {
    tabTitle: "E-BOOK",
    tabSubTitle: [
      {
        title: "33333",
        qurry: "33"
      }
    ]
  },
  {
    tabTitle: "CARTOON & MANGA",
    tabSubTitle: [
      {
        title: "33333",
        qurry: "33"
      }
    ]
  }
])
</script>

<style scoped lang="scss">
.tab-list-body {
  width: 100%;;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  .tab-window {
    height: 400px;
    background-color: rgb(147, 201, 248);
  }
}
</style>