@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Sarabun:wght@300;400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.v-main {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: #6A6A6A;
}

